In [49]:
import pandas as pd
import numpy as np

In [41]:
data=pd.read_csv('./finalised_output/sentiment/sentiments_200303_085230/1_keywords_200303_085230.csv')

In [42]:
data.head()

,WEBSITE_ID,REVIEW_ID,TEXT,RELEVANCE,COUNT,SENTIMENT_SCORE,SENTIMENT_LABEL,SADNESS,JOY,FEAR,DISGUST,ANGER,MIXED_SENTIMENT
0,2,0,新加坡环球影城,0.834080,2,0.000000,neutral,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,沙名胜世界,0.733386,1,0.000000,neutral,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,个景点,0.653317,1,0.000000,neutral,NaN,NaN,NaN,NaN,NaN,NaN
3,2,0,古埃及,0.649083,1,0.824111,positive,NaN,NaN,NaN,NaN,NaN,NaN
4,2,0,环球影城主题公园,0.568189,1,0.000000,neutral,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
data['idx'] = data.groupby('REVIEW_ID').cumcount()

In [45]:
df=data.pivot(index='REVIEW_ID',columns='idx')[['TEXT']]

In [47]:
df['combined']= df.values.tolist()

In [48]:
corpus=pd.DataFrame({'KEYWORDS':df['combined']})

In [66]:
corpus['KEYWORDS']=list(map(lambda x: list(item for item in x if str(item)!='nan'), corpus['KEYWORDS']))

In [71]:
corpus['KEYWORDS']=list(map(lambda x: ' '.join(x),corpus['KEYWORDS']))

In [73]:
f = open("IBM_corpus.txt", "a")
f.write("\n".join(map(lambda x: str(x), corpus['KEYWORDS'])))
f.close()