In [11]:
import pandas as pd

In [12]:
annotation=pd.read_csv('./finalised_output/vocab.csv')  #annotated keywords with count >=5

In [13]:
IBM=pd.read_csv('./finalised_output/sentiment/sentiments_200303_085230/1_keywords_200303_085230.csv')

In [14]:
ibm=IBM.drop(['SADNESS','JOY','FEAR','DISGUST','ANGER','MIXED_SENTIMENT'],axis=1)

In [17]:
merged=ibm.merge(annotation, how="left",on='TEXT') #same length with ibm

In [37]:
merged.head(10)

,WEBSITE_ID,REVIEW_ID,TEXT,RELEVANCE,COUNT_x,SENTIMENT_SCORE,SENTIMENT_LABEL,COUNT_y,SENTIMENT_KEYWORD_AGG_INDEX,ASPECT_CATEGORY_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT
0,2,0,新加坡环球影城,0.834080,2,0.000000,neutral,249.0,177.0,POI/Places,NaN,NaN
1,2,0,沙名胜世界,0.733386,1,0.000000,neutral,203.0,231.0,POI/Places,NaN,NaN
2,2,0,个景点,0.653317,1,0.000000,neutral,41.0,1204.0,POI/Places,NaN,NaN
3,2,0,古埃及,0.649083,1,0.824111,positive,46.0,1089.0,Activities,NaN,1.0
4,2,0,环球影城主题公园,0.568189,1,0.000000,neutral,13.0,3520.0,POI/Places,NaN,NaN
5,2,0,东南亚首个,0.551388,1,0.000000,neutral,13.0,3392.0,NaN,NaN,NaN
6,2,0,过山车的特效,0.513862,1,0.974776,positive,NaN,NaN,NaN,NaN,NaN
7,2,0,世界主题区,0.489102,1,0.824111,positive,NaN,NaN,NaN,NaN,NaN
8,2,0,的人来说,0.469503,1,0.974776,positive,18.0,2636.0,Experience,NaN,NaN
9,2,0,变形金刚,0.446610,1,0.974776,positive,526.0,78.0,Activities,NaN,NaN

In [38]:
not_annotated=merged[pd.isnull(merged['SENTIMENT_KEYWORD_AGG_INDEX'])]  #those with count <5
len(not_annotated)

141387

In [39]:
len(pd.unique(not_annotated['TEXT']))

110880

In [41]:
len(pd.unique(ibm['TEXT']))

120158

In [42]:
len(pd.unique(annotation['TEXT']))

9364