In [2]:
import pandas as pd
import os

In [3]:
################checked, dont run###############################
#sentiment distribution group by aspect categories
sentiment=pd.read_excel('./finalised_output/data_for_analysis/merged_sentiment.xlsx',keep_default_na=False)
sentiment_by_category=sentiment.groupby(['ASPECT_CATEGORY_NAME','SENTIMENT_LABEL']).count()
sentiment_by_category=sentiment_by_category.reset_index()

In [ ]:
sentiment_by_category.to_excel('./finalised_output/data_for_analysis/setiment_by_category.xlsx')

In [4]:
###############checked, dont run######################################
#overall sentiment for universal studio over the years (1 POI)
overall_sentiment_uss=pd.read_csv('./finalised_output/200319_141011/overall_200323_143209/1_overall_200323_143209.csv')
reviews_uss=pd.read_csv('./finalised_output/200319_141011/reviews/1.csv')
overall_reviews_uss=overall_sentiment_uss.merge(reviews_uss,how="left",on=['REVIEW_ID'])

In [95]:
overall_reviews_uss.to_excel('./finalised_output/data_for_analysis/overall_review_uss.xlsx')

In [5]:
#overall sentiment for all POIs (loop to read the files)
path = './finalised_output/200319_141011/overall_200323_143209'

files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

In [6]:
overall_sentiment_agg=pd.read_csv(files[0])
for i in range(len(files)-1):
    to_append=pd.read_csv(files[i+1])
    overall_sentiment_agg=overall_sentiment_agg.append(to_append)

In [12]:
overall_sentiment_agg.to_excel('./finalised_output/data_for_analysis/overall_sentiment_agg.xlsx')

In [7]:
overall_sentiment_agg

   WEBSITE_ID REVIEW_ID  OVERVALL_SCORE     LABEL
0           2     40189        0.892853  positive
1           2     40190        0.945166  positive
2           2     40191        0.844925  positive
3           2     40192        0.984093  positive
4           2     40193        0.873688  positive
..        ...       ...             ...       ...
32          2     64653        0.952358  positive
33          2     64654        0.699490  positive
0           2     66254        0.891438  positive
1           2     66255        0.844489  positive
0           2     67380        0.941224  positive

[67239 rows x 4 columns]

In [8]:
reviews_agg=pd.read_csv('./finalised_output/200319_141011/reviews/1.csv')
for i in range(2,519):
    try:
        to_append=pd.read_csv('./finalised_output/200319_141011/reviews/{}.csv'.format(i))
        reviews_agg=reviews_agg.append(to_append)
    except:
        print('POI '+str(i)+' does not exist')

In [9]:
reviews_agg=reviews_agg.drop(['WEBSITE_INDEX','ATTRIBUTES_CRAWLED_TIME'],axis=1)

In [10]:
review_sentiment_agg=reviews_agg.merge(overall_sentiment_agg,how="left", on="REVIEW_ID")

In [11]:
review_sentiment_agg

,REVIEW_ID,POI_INDEX,REVIEWER_NAME,REVIEW_RATING,REVIEW_DATE,REVIEW_TIME,REVIEW_BODY,WEBSITE_ID,OVERVALL_SCORE,LABEL
0,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,2,0.830443,positive
1,1,1,Queenie劉,5.0,2019-03-14,23:09,✨新加坡&#183;环球影城✨ 必打卡❗️ 进入了另一个奇幻又可爱的世界 真的是从早嗨到晚，...,2,0.660619,positive
2,2,1,_CFT0****6916,5.0,2019-05-04,23:18,作为一个世界级的游乐场，少不了的就是刺激，但与其它游乐场比起来，新加坡环球影城则是与众不同。...,2,0.719873,positive
3,3,1,goven814,4.0,2019-01-01,22:46,这个我给四星吧还是。我上午十点钟进去，下午两点钟出来了。感觉没有大阪的好。木乃伊归来和变形金...,2,0.659005,positive
4,4,1,M25****2831,4.0,2019-01-06,21:03,9点半左右到，门口拍两张照片，40分左右就有人排队了。非节假日人已经不算多，但是尽管一进去就...,2,-0.591886,negative
...,...,...,...,...,...,...,...,...,...,...
67427,67427,514,Todemmy,5.0,2019-05-06,Not Available,新加坡国人乐团，有一整面墙都是各类音乐家的照片和介绍，非常不错的展示设计，音乐真是全人类共同...,2,0.998616,positive
67428,67428,515,co****ean,5.0,2019-05-06,Not Available,Beauty Empire就是一家spa养生馆，来新加坡旅游不容错过景点美食购物风景和大自然...,2,0.821810,positive
67429,67429,516,Todemmy,5.0,2019-05-05,Not Available,renaza hair &amp; nail spa非常梦幻，一朵鸡蛋花瞬间把人带到热带海岛...,2,0.999163,positive
67430,67430,517,漫漫变老,3.0,2018-07-31,Not Available,这里是徒步游玩的好地方，人少自然景观很美。,2,0.927496,positive
67431,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,2,0.437563,positive

In [13]:
review_sentiment_agg.to_excel('./finalised_output/data_for_analysis/reviews_sentiment_agg.xlsx')

In [12]:
#calculate average sentiment by attraction types
stb_tag=pd.read_csv('./0216_prio_list.csv',index_col=False)

In [13]:
poi_sentiment_agg=review_sentiment_agg.merge(stb_tag, how="left",on="POI_INDEX")

In [14]:
poi_sentiment_agg=poi_sentiment_agg.drop(['WEBSITE_ID','POI_NAME','URL','POI_CHINESE_NAME','ENG_NAME_SPACE','IS_PRIORITIZED'],axis=1)

In [15]:
poi_sentiment_agg

,REVIEW_ID,POI_INDEX,REVIEWER_NAME,REVIEW_RATING,REVIEW_DATE,REVIEW_TIME,REVIEW_BODY,OVERVALL_SCORE,LABEL,WEBSITE_INDEX,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,REFERENCE_STB_TAG
0,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,Universal Studios Singapore,Leisure & Recreation
1,1,1,Queenie劉,5.0,2019-03-14,23:09,✨新加坡&#183;环球影城✨ 必打卡❗️ 进入了另一个奇幻又可爱的世界 真的是从早嗨到晚，...,0.660619,positive,2,Universal Studios Singapore,Leisure & Recreation
2,2,1,_CFT0****6916,5.0,2019-05-04,23:18,作为一个世界级的游乐场，少不了的就是刺激，但与其它游乐场比起来，新加坡环球影城则是与众不同。...,0.719873,positive,2,Universal Studios Singapore,Leisure & Recreation
3,3,1,goven814,4.0,2019-01-01,22:46,这个我给四星吧还是。我上午十点钟进去，下午两点钟出来了。感觉没有大阪的好。木乃伊归来和变形金...,0.659005,positive,2,Universal Studios Singapore,Leisure & Recreation
4,4,1,M25****2831,4.0,2019-01-06,21:03,9点半左右到，门口拍两张照片，40分左右就有人排队了。非节假日人已经不算多，但是尽管一进去就...,-0.591886,negative,2,Universal Studios Singapore,Leisure & Recreation
...,...,...,...,...,...,...,...,...,...,...,...,...
67427,67427,514,Todemmy,5.0,2019-05-06,Not Available,新加坡国人乐团，有一整面墙都是各类音乐家的照片和介绍，非常不错的展示设计，音乐真是全人类共同...,0.998616,positive,2,Singapore Chinese Orchestra,NaN
67428,67428,515,co****ean,5.0,2019-05-06,Not Available,Beauty Empire就是一家spa养生馆，来新加坡旅游不容错过景点美食购物风景和大自然...,0.821810,positive,2,Beauty Empire,NaN
67429,67429,516,Todemmy,5.0,2019-05-05,Not Available,renaza hair &amp; nail spa非常梦幻，一朵鸡蛋花瞬间把人带到热带海岛...,0.999163,positive,2,Renaza Hair & Nail Spa,NaN
67430,67430,517,漫漫变老,3.0,2018-07-31,Not Available,这里是徒步游玩的好地方，人少自然景观很美。,0.927496,positive,2,Admiralty Park,NaN
67431,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,Singapore City Bike Tour,NaN

In [24]:
(poi_sentiment_agg.groupby(['POI_INDEX']).mean()).sort_values(by='OVERVALL_SCORE',ascending=False)

           REVIEW_RATING  OVERVALL_SCORE  WEBSITE_INDEX
POI_INDEX
485                  5.0        0.999679              2
516                  5.0        0.999163              2
503                  5.0        0.999039              2
469                  5.0        0.998943              2
514                  5.0        0.998616              2
...                  ...             ...            ...
390                  2.5       -0.016538              2
452                  4.0       -0.344211              2
407                  0.0       -0.487258              2
383                  3.0       -0.488667              2
397                  3.0       -0.534342              2

[517 rows x 3 columns]

In [109]:
poi_sentiment_agg.to_excel('./finalised_output/data_for_analysis/poi_sentiment_agg.xlsx')

In [16]:
annotated_poi_sentiment_agg=poi_sentiment_agg.merge(sentiment, how="left", on="REVIEW_ID")

In [17]:
annotated_poi_sentiment_agg

,REVIEW_ID,POI_INDEX,REVIEWER_NAME,REVIEW_RATING,REVIEW_DATE,REVIEW_TIME,REVIEW_BODY,OVERVALL_SCORE,LABEL,WEBSITE_INDEX,...,COUNT_x,SENTIMENT_KEYWORD_AGG_INDEX,ASPECT_CATEGORY_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT,WEBSITE_ID,RELEVANCE,COUNT_y,SENTIMENT_SCORE,SENTIMENT_LABEL
0,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,...,7380.0,1.0,NA,,,2,0.381298,1,0,neutral
1,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,...,2024.0,9.0,Activities,,,2,0.362765,1,0.824111,positive
2,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,...,1622.0,12.0,NA,,,2,0.372286,1,0.974776,positive
3,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,...,526.0,78.0,Activities,,,2,0.44661,1,0.974776,positive
4,0,1,考拉羊洋,5.0,2019-08-12,03:58,新加坡环球影城 (USS) 位于圣淘沙名胜世界内，是东南亚首个也是唯一的一个环球影城主题公园...,0.830443,positive,2,...,267.0,158.0,NA,,,2,0.37222,1,0.974776,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309848,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,...,266.0,161.0,Transportation and Accessibility,,,2,0.299201,1,0.437563,positive
309849,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,...,252.0,173.0,Environment and Ambiance,,,2,0.271696,1,0.437563,positive
309850,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,...,102.0,474.0,Sightseeing,,,2,0.646234,1,0.437563,positive
309851,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,...,46.0,1107.0,Facilities,,,2,0.27823,1,0.437563,positive
309852,67431,518,E02****38,4.0,2019-12-12,Not Available,city tour，是新加坡旅游局在这边做的一个环城市的旅游服务，基本上的旅游景点都被这个旅...,0.437563,positive,2,...,18.0,2604.0,Sightseeing,,,2,0.629895,1,0.437563,positive

In [15]:
annotated_poi_sentiment_agg.to_excel('././finalised_output/data_for_analysis/all_combined.xlsx')

In [18]:
### number of reviews for each POI
def num_of_reviews(poi_index):
    return (reviews_agg[reviews_agg['POI_INDEX']==poi_index]).shape[0]
num_of_review=list(map(num_of_reviews, list(range(519))))

In [19]:
####insert number of reviews in to

In [20]:
#attraction with most positive sentiments(aspect level)
aspect_sentiment_agg=pd.read_csv('./finalised_output/sentiment/sentiments_200303_085230/1_keywords_200303_085230.csv')
reviews_agg=pd.read_csv('./finalised_output/sentiment/reviews/1.csv')

In [21]:
from datetime import datetime

In [22]:
start_time = datetime.now()
###number of positive/negative/neutral aspects per POI
num_pos_asp=[]
num_neg_asp=[]
num_neu_asp=[]
for i in range(519):
    review_id_range_start=aspect_sentiment_agg['REVIEW_ID'] >= (sum(num_of_review[0:i]))
    review_id_range_end=aspect_sentiment_agg['REVIEW_ID'] < (sum(num_of_review[0:i+1]))
    current_poi=aspect_sentiment_agg[review_id_range_start & review_id_range_end]
    pos=current_poi[current_poi['SENTIMENT_LABEL']=='positive'].shape[0]
    neg=current_poi[current_poi['SENTIMENT_LABEL']=='negative'].shape[0]
    neu=current_poi[current_poi['SENTIMENT_LABEL']=='neutral'].shape[0]
    num_pos_asp+=[pos]
    num_neg_asp+=[neg]
    num_neu_asp+=[neu]

end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:04.997604

In [23]:
start_time = datetime.now()
###number of positive/negative/neutral aspects per POI(non-loop version)
def find_asp_num(poi_index):
    review_id_range_start=aspect_sentiment_agg['REVIEW_ID'] >= (sum(num_of_review[0:poi_index]))
    review_id_range_end=aspect_sentiment_agg['REVIEW_ID'] < (sum(num_of_review[0:poi_index+1]))
    current_poi=aspect_sentiment_agg[review_id_range_start & review_id_range_end]
    pos=current_poi[current_poi['SENTIMENT_LABEL']=='positive'].shape[0]
    neg=current_poi[current_poi['SENTIMENT_LABEL']=='negative'].shape[0]
    neu=current_poi[current_poi['SENTIMENT_LABEL']=='neutral'].shape[0]
    return [pos,neg,neu]
asp_num=list(map(find_asp_num,list(range(519))))
num_pos_asp=[item[0] for item in asp_num]
num_neg_asp=[item[1] for item in asp_num]
num_neu_asp=[item[2] for item in asp_num] 

end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:05.183620

In [24]:
###get percentage of sentiment
def find_asp_percentage(poi_index):
    try:
        current_value=asp_num[poi_index]
        total=sum(current_value)
        pos_percentage=current_value[0]/total
        neg_percentage=current_value[1]/total
        neu_percentage=current_value[2]/total
    except:
        pos_percentage=0
        neg_percentage=0
        neu_percentage=0
    return [pos_percentage,neg_percentage,neu_percentage]
asp_percentage=list(map(find_asp_percentage,list(range(519))))
per_pos_asp=[item[0] for item in asp_percentage]
per_neg_asp=[item[1] for item in asp_percentage]
per_neu_asp=[item[2] for item in asp_percentage]

In [25]:
value={'POI_INDEX': list(range(1,519)),
       'NUMBER_OF_REVIEW':num_of_review[1:],
       'NUM_POS_ASP':num_pos_asp[1:],
       'NUM_NEG_ASP':num_neg_asp[1:],
       'NUM_NEU_ASP':num_neu_asp[1:],
       'PER_POS_ASP':per_pos_asp[1:],
       'PER_NEG_ASP':per_neg_asp[1:],
       'PER_NEU_ASP':per_neu_asp[1:]}
attraction_sentiments=pd.DataFrame(data=value)

In [26]:
###get the most positively reviewed poi
review_number_filter = attraction_sentiments[attraction_sentiments['NUMBER_OF_REVIEW']>500]
attraction_sentiments_sorted=review_number_filter.sort_values(by='PER_POS_ASP',ascending=False)
attraction_sentiments_sorted.head(5)

,POI_INDEX,NUMBER_OF_REVIEW,NUM_POS_ASP,NUM_NEG_ASP,NUM_NEU_ASP,PER_POS_ASP,PER_NEG_ASP,PER_NEU_ASP
35,36,628,2897,344,416,0.792179,0.094066,0.113754
4,5,2416,12767,1537,2059,0.780236,0.093931,0.125833
17,18,846,3837,443,652,0.777981,0.089822,0.132198
25,26,2622,8481,1602,822,0.777717,0.146905,0.075378
8,9,3000,12511,1920,1711,0.775059,0.118944,0.105997

In [ ]:
attraction_sentiments_sorted.to_excel('./finalised_output/data_for_analysis/attraction_sentiment_asp_lvl.xlsx')

In [27]:
#most positively reviewed poi(review level)
### number of reviews for each POI
def num_of_reviews(poi_index):
    return (reviews_agg[reviews_agg['POI_INDEX']==poi_index]).shape[0]
num_of_review=list(map(num_of_reviews, list(range(519))))

###number of positive/negative/neutral aspects per POI
num_pos_asp=[]
num_neg_asp=[]
num_neu_asp=[]
for i in range(519):
    review_id_range_start=review_sentiment_agg['REVIEW_ID'] >= (sum(num_of_review[0:i]))
    review_id_range_end=review_sentiment_agg['REVIEW_ID'] < (sum(num_of_review[0:i+1]))
    current_poi=review_sentiment_agg[review_id_range_start & review_id_range_end]
    pos=current_poi[current_poi['LABEL']=='positive'].shape[0]
    neg=current_poi[current_poi['LABEL']=='negative'].shape[0]
    neu=current_poi[current_poi['LABEL']=='neutral'].shape[0]
    num_pos_asp+=[pos]
    num_neg_asp+=[neg]
    num_neu_asp+=[neu]

value={'POI_INDEX': list(range(1,519)),
       'NUMBER_OF_REVIEW':num_of_review[1:],
       'NUM_POS_ASP':num_pos_asp[1:],
       'NUM_NEG_ASP':num_neg_asp[1:],
       'NUM_NEU_ASP':num_neu_asp[1:],
       'PER_POS_ASP':per_pos_asp[1:],
       'PER_NEG_ASP':per_neg_asp[1:],
       'PER_NEU_ASP':per_neu_asp[1:]}
attraction_sentiments_overall=pd.DataFrame(data=value)

In [28]:
###get the most positively reviewed poi
review_number_filter_overall = attraction_sentiments_overall[attraction_sentiments['NUMBER_OF_REVIEW']>500]
attraction_sentiments_overall_sorted=review_number_filter_overall.sort_values(by='PER_POS_ASP',ascending=False)
attraction_sentiments_overall_sorted.head(5)

,POI_INDEX,NUMBER_OF_REVIEW,NUM_POS_ASP,NUM_NEG_ASP,NUM_NEU_ASP,PER_POS_ASP,PER_NEG_ASP,PER_NEU_ASP
35,36,628,519,67,36,0.792179,0.094066,0.113754
4,5,2416,2109,155,151,0.780236,0.093931,0.125833
17,18,846,740,56,48,0.777981,0.089822,0.132198
25,26,2622,2312,245,51,0.777717,0.146905,0.075378
8,9,3000,2645,213,127,0.775059,0.118944,0.105997

In [79]:
attraction_sentiments_overall_sorted.to_csv('./finalised_output/data_for_analysis/attraction_sentiment_review_lvl.csv')

In [99]:
#check whether there is a n-n relationship in aggregate list
agg_list=pd.read_csv('./0216_prio_list.csv')
len(agg_list['URL'].unique())   #there is a 1-1 relationship

517

In [11]:
#get percentage of different categories
combined_annotation=pd.read_csv('./finalised_output/combined_annotation.csv')

In [12]:
annotation_by_category=combined_annotation.groupby(['ASPECT_CATEGORY_NAME']).count()

In [13]:
annotation_by_category

,TEXT,COUNT,SENTIMENT_KEYWORD_AGG_INDEX,ASPECT_CATEGORY,REQUIRE_CONTEXT,poi1,poi2,poi3,poi4,poi5,...,poi510,poi511,poi512,poi513,poi514,poi515,poi516,poi517,poi518,SENTIMENT_KEYWORD_AGG_INDEX2
ASPECT_CATEGORY_NAME,,,,,,,,,,,,,,,,,,,,,
Activities,296,296,296,0,26,45,8,18,2,13,...,0,0,0,0,0,0,0,0,0,185
Arts and Culture,256,256,256,0,10,2,5,3,4,3,...,0,1,0,0,0,0,0,0,0,203
Environment and Ambiance,272,272,272,0,9,7,33,15,10,15,...,0,0,0,0,0,0,0,0,0,143
Experience,329,329,329,0,37,9,13,4,9,8,...,0,0,0,0,0,0,0,0,0,95
F&B,356,356,356,0,17,6,2,6,31,59,...,0,0,0,0,0,0,1,0,0,221
Facilities,263,263,263,0,15,6,19,6,5,4,...,1,0,0,0,0,0,0,0,0,178
Family/Children family/Friends,280,280,280,0,11,22,17,18,6,6,...,0,0,0,0,0,1,0,0,0,110
POI/Places,727,727,727,0,16,13,42,32,11,30,...,0,0,0,0,0,0,0,0,0,548
Price,133,133,133,0,7,6,11,10,18,4,...,0,0,0,0,0,1,0,0,1,61
SHopping,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Service,94,94,94,0,19,8,5,2,7,0,...,0,0,0,0,0,0,0,0,0,44
Shopping,216,216,216,0,30,2,2,6,73,6,...,0,0,0,0,0,0,0,0,0,173
Sightseeing,1060,1060,1060,0,48,16,85,39,17,43,...,0,0,0,0,0,0,0,0,0,727
TRansportation and Accessibility,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Transportation and Accessibility,697,697,697,0,49,48,47,35,41,29,...,2,0,1,0,0,0,0,1,1,379
f&b,2,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
service,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
shopping,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
transportation and Accessibility,16,16,16,0,3,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,7

In [41]:
def num_of_reviews(poi_index):
    return (reviews_agg[reviews_agg['POI_INDEX']==poi_index]).shape[0]
num_of_review=list(map(num_of_reviews, list(range(519))))

sentiment=[]
for i in range(519):
    review_id_range_start=review_sentiment_agg['REVIEW_ID'] >= (sum(num_of_review[0:i]))
    review_id_range_end=review_sentiment_agg['REVIEW_ID'] < (sum(num_of_review[0:i+1]))
    current_poi=review_sentiment_agg[review_id_range_start & review_id_range_end]
    sentiment_score=(current_poi['OVERVALL_SCORE'][review_id_range_start & review_id_range_end]).mean()
    sentiment+=[sentiment_score]
value={'POI_INDEX': list(range(1,519)),
       'NUMBER_OF_REVIEW':num_of_review[1:],
       'SENTIMENT':sentiment[1:] }
sentiments_overall=pd.DataFrame(data=value)

In [43]:
###get the most positively reviewed poi
review_number_filter_overall = sentiments_overall[attraction_sentiments['NUMBER_OF_REVIEW']>500]
sentiments_overall_sorted=review_number_filter_overall.sort_values(by='SENTIMENT',ascending=False)
sentiments_overall_sorted.head(5)

    POI_INDEX  NUMBER_OF_REVIEW  SENTIMENT
1           2              3000   0.736806
13         14               683   0.736691
25         26              2622   0.730872
8           9              3000   0.714795
17         18               846   0.710110

In [44]:
sentiments_overall_sorted.to_csv('./finalised_output/overall_Sentiment.csv')

In [45]:
poi_name=pd.read_csv('./0216_prio_list.csv')

In [48]:
result=sentiments_overall_sorted.merge(poi_name, on='POI_INDEX', how="inner")

In [50]:
result.to_csv('./over_sent.csv')