In [69]:
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy
import datetime

In [70]:
try:
    cnx = mysql.connector.connect(host="localhost", 
                                  database="sentimentDB", 
                                  user="test_user", 
                                  password="Password123!")    
    if cnx.is_connected():
        print("Connection to database is successful.")
        cnx.cursor().execute('SET NAMES utf8mb4')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)

Connection to database is successful.

In [73]:
def convert_datetime(date_time_str):
    return str(datetime.datetime.strptime(date_time_str, '%I:%M %p - %d %b %Y'))

number_id = "1600541437"
screen_name = "test1"
user_name = "test2"
i = "test3"
converted_datetime = convert_datetime("3:39 am - 13 Nov 2019")
text_db = r"Our ùê•ùêöùê´ùê†ùêûùê¨ùê≠ #mall, #Suzhou Center Mall, had its 2nd anni recently! It is 3x the size of ION Orchard and welcomed more than  mil #shoppers since launch in '17. That's about ùóòùó©ùóòùó•ùó¨ùó¢ùó°ùóò in SG visiting the mall >ùüÆùü¨ùòÖ!!"

cnx.cursor().execute('SET NAMES utf8mb4')
cnx.cursor().execute(
    """
    INSERT INTO tweets (
        number_id,
        screen_name,
        user_name,
        keyword,
        posted_time,
        tweet
        )
    VALUES ({}, {}, {}, {}, {}, {});
    """.format(
        '"' + number_id + '"',
        '"' + screen_name + '"',
        '"' + user_name + '"',
        '"' + i + '"',
        '"' + converted_datetime + '"',
        '"' + text_db + '"'
        )
)

cnx.commit()

In [48]:
cnx.close()