In [1]:
import os
import numpy as np
import pandas as pd
os.chdir('/home/zyf0717/git/STB_social_media_analytics/common_class_functions')
from get_dist_sim import get_parsed_dfs, get_final_dfs
os.chdir('/home/zyf0717/git/STB_social_media_analytics')

In [2]:
path_to_text = './experimentation/yifei_experiment/GloVe/vectors.txt'
path_to_excel = './experimentation/yifei_experiment/GloVe/20200304_Aspects_Annotation.xlsx'
train_size = 400
annotated_size = 500
categories=None
word_count_limit = 5

In [3]:
manhattan_df, euclidean_df, cos_sim_df, corr_df = get_final_dfs(
    path_to_text=path_to_text,
    path_to_excel=path_to_excel,
    train_size=train_size,
    annotated_size=annotated_size,
    categories=categories,
    word_count_limit=word_count_limit
)

Reading txt...

Reading xlsx...

vectors_df shape: (20631, 301)
keywords_df shape: (20631, 6)

Number of keywords per category used for centroids:
Activities: 14
Environment and Ambience: 24
Experience: 24
F&B: 19
Facilities: 6
Family/Children family/ Friends: 13
Price: 13
Service: 3
Shopping: 7
Sightseeing/ Place: 103
Transportation and Accessibility: 51

11 centroids found.

Calculating accuracies...
Accuracy: 0.5
Accuracy: 0.532258064516129
Accuracy: 0.532258064516129
Accuracy: 0.3225806451612903

In [4]:
euclidean_df

,KEYWORD,1,2,3,4,5,6,7,8,9,10,11,CLOSEST,PREDICTION
0,singapore,6.909808,7.017726,7.210519,7.122940,7.632525,7.090967,7.061578,7.105306,7.633580,6.757872,7.068011,10,Sightseeing/ Place
1,place,8.258634,8.204542,8.130256,8.179041,8.654181,8.167213,8.290934,8.595119,8.299825,7.889208,8.157652,10,Sightseeing/ Place
2,gardens,8.669701,8.207223,8.292025,8.648068,8.614552,8.470990,8.407492,8.962308,9.137544,8.005509,8.276820,10,Sightseeing/ Place
3,time,8.052141,8.304118,8.437499,8.619811,8.714342,8.341202,8.441138,8.065528,8.867540,8.137198,8.260127,1,Activities
4,night,8.877095,8.634593,8.732740,8.656336,8.719954,8.835844,8.840544,9.400507,9.222011,8.414820,8.575348,10,Sightseeing/ Place
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,zoo prices,3.407782,3.318337,2.934582,4.214814,4.019984,4.092111,3.518347,4.473811,4.334642,3.286829,3.325448,3,Experience
20627,zoo site,3.548022,3.237621,2.849728,4.231111,3.870652,4.090768,3.488784,4.608021,4.436102,3.181283,3.218536,3,Experience
20628,zoo tour,3.357977,3.032388,2.726061,3.957246,3.640940,3.862156,3.260643,4.409343,4.206296,3.047110,2.911662,3,Experience
20629,zoo yesterday,3.366176,3.065490,2.820733,3.953582,3.702096,3.958021,3.204031,4.323588,4.183837,3.106051,3.094519,3,Experience
20630,zoological gardens,3.495032,3.217057,2.806964,4.160539,3.861090,3.971584,3.447147,4.617418,4.433863,3.179835,3.148723,3,Experience